@import "compass_twitter_bootstrap";
@import "compass/css3";
@import "compass";

body{
  font-size: 11px;
  @include user-select(none);
  cursor: default;
}

form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img { max-width: none; }

ul{
  list-style-type: none;
  margin: 0px;
}

h3{
  font-size: 1.5em;
  margin-left: 10px;
  line-height: 20px;
}

textarea {
  font-size: 1em;
}

.noPadding{
  padding: 0px !important;
}

.disabled{
  opacity: 0.7;
  cursor: default !important;
  &:hover{
    background: none !important;
  }
  i:hover{
    background-image: url("images/glyphicons-halflings.png") !important;
  }
}

//Variables

$borderRadius: 2px;
$black : #373737;

$green:  #5bb75b;

@mixin panel{
  background-color: rgba(245,245,245,0.9);
  z-index: 2500;
  @include single-box-shadow;
  @include border-radius($borderRadius);
}

//glyph big
[class^="glyph-big-"],
[class*=" glyph-big-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  margin-top: 1px;
  cursor: pointer;
}

.glyph-big-book{
  background-image: url("images/glyph-big/book.png");
}
.glyph-big-pencil{
  background-image: url("images/glyph-big/pencil.png");
}
.glyph-big-world{
  background-image: url("images/glyph-big/global.png");
}
.glyph-big-picture{
  background-image: url("images/glyph-big/picture.png");
}

//Overall classes


#powerTip{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-right: 7px !important;
  padding-left: 7px !important;
  border-radius: 2px !important;
}


.seperator-line{
  width: auto;
  border: solid 1.5px;
}

.infotext{
  padding: 10px;
  overflow: auto;
}

tr{
  background-color: white;
}


.list-title{
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
}


.button-icon{
  display: inline-block;
  cursor: pointer;
  @include border-radius($borderRadius);
  height: 20px;
  &:hover{
    background: $black;
  }
  i:hover{
    background-image: url("images/glyphicons-halflings-white.png");
    height: 20px;
  }
}

.selected{
  background: $black;
  i{
    background-image: url("images/glyphicons-halflings-white.png");
  }
}

div.olControlZoom a {

  background: $black !important;
  opacity: 1;
  &:hover{
    background: $black !important;
    opacity: 0.8;
  }
}


.olLayerGoogleCopyright{
  bottom: 100px;
  right: 0px;
}

#container{

}

.outOfView{
 left: -2000px !important;
}


#top-bar{
  height: 40px;
  background-color: $green; // Old browsers
  @include filter-gradient($green, #3b773b, vertical); // IE6-9
  @include background-image(linear-gradient(top, $green 0%,#3b773b 100%));
  font-size: 1.6em;
  line-height: 30px;
  padding-left: 10px;
  font-weight: 700;
  h2{
    font-size: 1.5em;
    display: inline-block;
    //width: 500px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    color: #000000;
    margin-top: 0px;
    cursor: pointer;
    white-space: nowrap;
  }
  a{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
  }
  .lastIcon{
    margin-right: 21px;
  }
}

#map {
  width: 100%;
  height: 670px;
}

.mapLabel{
  cursor: default;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px ;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 2px;
  position: absolute;
  white-space: nowrap;
  z-index: 2147483647;
}

#startDialog{
  z-index: 3000;
  h3{
    width:100%;
    text-align: center;
  }
  .world{
    margin-left:90px;
    margin-right:80px;
  }
}

#lernEinheitDialog{
  z-index: 3000;
  h3{
    width:100%;
    text-align: center;
  }
  .icon-book{
    margin-top: 8px;
  }
  .date{
    display: inline-block;
    font-weight: 700;
    font-size: 1.1em;
  }
  td{
    padding: 5px;
  }
  .title{
    font-weight: 600;
    font-size: 1.3em;
    width: 160px;
    overflow: hidden;

  }
  .info{
    font-size: 1.1em;
    font-weight: 600;
    width: 170px;
    margin-top:5px;
    overflow: hidden;
  }
  button{
    margin-top: 8px;
  }

}

#lernEinheitInfoDialog{
  z-index: 3000;
  .modal-body{
    font-weight: 600;
    font-size: 1.3em;
  }
  .tip{
    font-weight: 700;
    font-size: 0.9em;
    text-align: left;
    width: 400px;
    display: inline-block;
    float: left;
    margin-left: 40px;
    line-height: 14px;
  }
  .modal-footer{
    padding: 10px;
  }
  button{
    margin-right: 20px;
  }
}


#lernNavigation{
  position: absolute;
  top: 520px;
  left: 580px;
  z-index: 2500;
  .disabledWithBackground{
    opacity: 0.7;
    cursor: default !important;
    &hover{
      background-color: #373737 !important;
    }
    &active{
      background-color: #373737 !important;
    }
  }
}


#lernInfo{
  @include panel;
  width:350px;
  height: 100px;
  position: absolute;
  bottom: 150px;
  left:20px;
  font-weight: 700;
  font-size: 1.3em;
  padding: 5px;
  overflow: auto;
}

#lernLine{
  width: 100%;
  height: 100px;
  background: #d3d3d3;
  position: absolute;
  top: 610px;
  z-index: 2500;
  .start{
    position: relative;
    left: 200px;
    top: -75px;
  }
  .lektion{
    display: inline-block;
    width: 160px;
    margin-top: 10px;
    margin-left: 10px;
    height: 90px;
  }
  .lektionBox{
    border: solid 4px;
    height: 50px;
    width: 100px;
    @include border-radius(10px);
    overflow: hidden;

  }
  .lektionTitle{
    font-weight: 700;
    font-size: 1.3em;
    margin-top: 2px;

  }
  .lektionNumber{
    position: relative;
    top: -60px;
    left: 40px;
    font-weight: 700;
    font-size: 4em;
    width: 20px;
    cursor: pointer;
  }
  .lernLineTitle{
    display: inline-block;
    position: relative;
    top: -30px;
    font-size: 3em;
    font-weight: 700;
    margin-right: 30px;
    margin-left: 30px;
  }
  .feature{
    height: 50px;
    display: inline-block;
    cursor: pointer;
  }
  .green{
    background: $green;
  }
}



#layerswitcher{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 2400;
  a{
    display: inline-block;
    cursor: pointer;
    &:hover{
      background: $black;
    }
  }
}


#editNav{
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 2500;
}

#editView{
  #layerlist{
    right: 350px;
  }
  #infobox{
    right: 350px;
  }
}



#editInfoEinheit{
  @include panel;
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 2500;
  width: 283px;
  height: 600px;
  overflow: hidden;
  .topBarText{
    display: inline-block;
    width: 210px;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    height: 40px;
    position: absolute;
    top: 12px;
    left: 40px;
  }
  .back{
    margin-left: 10px;
    margin-top: 10px;
  }
  .img{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }
  .infoEinheitTable{
    font-weight: 700;
    overflow: auto;
    input{
      margin-bottom: 0px;
      height: 16px;
    }
    .trash{
      margin-top: 10px;
    }
    .edit{
      margin-top: 18px;
    }
    .icon-tags{
      margin-top: 10px;
      margin-left: 5px;
    }
  }
  .label{
    margin-right: 10px;
    width: 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
  }
  .heading{
    width: 250px;
    text-align: center;
    margin-top: 10px;
  }
  .elementLabel{
    width: 60px;
    margin-top: 7px !important;
  }
  .title{
    width: 180px;
  }
  .imgGallery{
    margin-left: 10px;
  }
  .start{
    width: 40px;
    margin-right: 20px;
  }
  .end{
    width: 40px;
  }
  .info{
    width: 180px;
    height: 150px;
  }
  .typ{
    width: 150px;
    &:focus{
      color: black;
    }
  }
  .editPlan{
    margin-bottom: 10px;
  }
  .editControls{
    width: 258px;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid;
    .colorDiv{
      display: inline-block;
      float: right;
    }
    .sliderDiv{
      display: inline-block;
      margin-left: 60px;
    }
    .slider{
      width: 110px;
      display: inline-block;
      margin-left: 5px;
      height: 2px;
      .ui-slider-handle{
        top: -.7em;
        width: 3px;
        margin-left: -.2em;
      }
      .ui-state-hover{
        border: 1px solid #666666;
        background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
      }
      .ui-state-active{
        border: 1px solid #666666;
        background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
      }
      .ui-state-focus{
        border: 1px solid #666666;
        background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
      }
    }
  }
  .colorpickerInput{
    width: 60px;
  }
  colorpicker{
    float: right;
    margin-right: 10px;
  }
  #editFeatureForm{
    margin-left: 10px;
    margin-top: 10px;
    .trash{
      margin-top: 5px;
    }
    .addFeature{
      margin-left: 20px;
    }
    .heading{
      margin-bottom: 10px;
    }
    #select2{
      width: 160px;
      display: none;
    }
  }
  #editInfoEinheitForm{
    margin-left: 10px;
    margin-top: 10px;
    .rank{
      width: 60px;
    }
    .edit{
      margin-top: 10px;
    }
    .featureTable{
      font-weight: 700;
      width: 272px;
      max-height: 180px;
      overflow: auto;
      table{
        width: 257px;
      }
      .trash{
        margin-top: 10px;
      }
      td{
        line-height: 16px;
        padding: 3px;
      }
      input{
        width:205px;
        margin-bottom: 0px;
      }
      .icon{
        margin-top: 7px;
        margin-left: 5px;
      }
      .new{
        margin-top: 5px;
      }
      .button-icon{
        margin-right: 5px;
      }
    }
  }
  .infotext{
    overflow: hidden;
    width: 175px;
    padding: 0px;
  }
  .date{
    display: inline-block;
  }
  #editInfoEinheitTop{
    height: 40px;
    border-bottom: solid;
  }
  .send{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
  }

}

#editLernEinheit{
  @include panel;
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 2500;
  width: 283px;
  height: 600px;
  overflow: hidden;
  .topBarText{
    display: inline-block;
    width: 210px;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    height: 40px;
    position: absolute;
    top: 12px;
    left: 40px;
  }
  .back{
    margin-left: 10px;
    margin-top: 10px;
  }
  #editLernEinheitTop{
    height: 40px;
    border-bottom: solid;
  }
  .lernEinheitTable{
    font-weight: 700;
    overflow: auto;
    input{
      margin-bottom: 0px;
      height: 16px;
    }
    .trash{
      margin-top: 10px;
      margin-right: 5px;
    }
    .edit{
      margin-top: 13px;
    }
    .date{
      display: inline-block;
    }
    td{
      padding: 3px;
      padding-left: 10px;
    }
    .infotext{
      padding: 0px;
      width: 180px;
      overflow: hidden;
    }
    .icon-book{
      margin-top: 10px;
    }

  }
  .label{
    margin-right: 10px;
    width: 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
  }
  .heading{
    width: 250px;
    text-align: center;
    margin-top: 10px;
  }
  .title{
    width: 180px;
  }
  .info{
    width: 180px;
    height: 150px;
  }
  #editLernEinheitForm{
    margin-left: 10px;
    margin-top: 10px;
    .lektionenTable{
      font-weight: 700;
      width: 272px;
      max-height: 260px;
      overflow: auto;
      table{
        width: 257px;
      }
      .trash{
        margin-top: 10px;
      }
      .edit{
        margin-top: 10px;
      }
      td{
        line-height: 16px;
        padding: 3px;
      }
      input{
        width:205px;
        margin-bottom: 0px;
      }
      .icon{
        margin-top: 7px;
        margin-left: 5px;
      }
      .new{
        margin-top: 5px;
      }
      .button-icon{
        margin-right: 5px;
      }
      .date{
        display: inline-block;
      }
      .infotext{
        padding: 0px;
        width: 150px;
        overflow: hidden;
      }
    }
  }
  #editLernLektionForm{
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 10px;
    .heading{
      margin-bottom: 10px;
    }
    .sendLektion{
      margin-top: 20px;
    }
  }
  .addLernFeature{
    margin-bottom: 10px;
    margin-left: 20px;
    .button-icon{
      margin-right: 5px;
    }
    i{
      margin-top: -2px;
    }
    span{
      font-weight: 700;
      font-size: 1.2em;
      margin-top: 10px;
    }
  }
  #editLernFeatureForm{
    margin-left: 10px;
    margin-top: 10px;
    .heading{
      margin-top: 0px;
    }
    .info{
      width: 184px;
      height: 80px;
    }
    .select2Label{
      width: 70px;
      margin-top: 5px;
    }
    .select2-container{
      margin-top: 5px;
    }
    .send{
      margin-top: 20px;
    }
    #select2InfoEinheit{
      display: none;
    }
    #select2Feature{
      display: none;
    }
    #select2Plan1{
      display: none;
    }
    #select2Plan2{
      display: none;
    }
    #select2Plan3{
      display: none;
    }
    .selectFeatureTable{
      clear: both;
      .firstRow{
        margin-left: 5px;
      }
    }
    .featureLabel{
      margin-top: 20px;
      margin-bottom: 5px;
      display: inline-block;
      float: left;
    }
    .visibility{
      display: inline-block;
      float: right;
      margin-right: 8px;
    }
    .selectedFeature{
      display: inline-block;
      float: right;
      margin-right: 6px;
    }
    .placeholder{
      float: right;
      margin-right: 15px;
      margin-top: 25px;
      display: inline-block;
    }
  }
  .featureTable{
    border-top: solid;
    border-bottom: solid;
    width: 260px;
    max-height: 370px;
    overflow: auto;
    clear: right;
    .noFeature{
      font-weight: 700;
      font-size: 1.2em;
      padding: 10px;
      display: inline-block;
    }
    td{
      padding: 2px;
      height: 22px;
    }
    .infotext{
      padding: 0px;
      font-weight: 700;
      overflow: hidden;
      width: 140px;
    }
    .typIcon{
      margin-left: 5px;
    }
    .table{
      margin-bottom: 0px;
      min-height: 30px;
    }
  }
  .typ{
    width: 198px;
    &:focus{
      color: black;
    }
  }
  .send{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
  }
}

#georeference{
  width: 263px;
  height: 580px;
  position: absolute;
  top: 90px;
  right: 20px;
  padding: 10px;
  @include panel;
  overflow: hidden;
  #select2{
    width: 160px;
    display: none;
  }
  .resize{
    display: inline-block;
    margin-left: 5px;
  }
  ul{
    margin-left: 10px;
  }
  .label{
    width: 95px;
    display: inline-block;
    margin-right: 20px;
  }
  .cpTable{
    overflow: auto;
    width: 262px;
    max-height: 300px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  tr{
    background-color: white;
    @include border-radius($borderRadius);
    border-top: solid ;
    border-bottom: solid ;
  }
  .addGCP{
    margin-left: 5px;
  }
  .send{
    margin-left: 5px;
  }
  .deleteAll{
    margin-left: 172px;
  }
  .buttonFix{
    margin-left: 75px;
  }
  .heading2{
    display: inline-block;
  }
  .placeholder{
    display: inline-block;
    width: 16px;
  }
  .infotext{
    font-weight: 700;
    font-size: 1.2em;
    width: 30px;
  }
  .coord{
    font-weight: 700;
  }
  .world{
    color: #00b000;
    width: 100px;
  }
  .image{
    color: #1267bb;
    width: 70px;
  }
  .delete{
    margin-right: 5px;
  }
  .slider{
    width: 110px;
    display: inline-block;
    margin-left: 5px;
    height: 2px;
    .ui-slider-handle{
      top: -.7em;
      width: 3px;
      margin-left: -.2em;
    }
    .ui-state-hover{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
    .ui-state-active{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
    .ui-state-focus{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
  }
}

#image-gallery{
  position: absolute;
  top:120px;
  left: 280px;
  width: 650px;
  height: 400px;
  @include panel;
  img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }
  .close-btn{
    position: absolute;
    right: 3px;
    z-index: 2501;
  }
  .carousel-caption{
    display: none;
  }
  .carousel-control{
    top: 200px;
    width: 36px;
    line-height: 33px;
    cursor: pointer;
  }
  .left{
    padding-right: 4px;
  }
  .right{
    padding-left: 4px;
  }
  .carousel-indicators{
    position: absolute;
    top: 10px;
    z-index: 2501;
    li{
      display: block;
      float: left;
      width: 10px;
      height: 10px;
      margin-left: 5px;
      text-indent: -999px;
      background-color: #808080;
      border-radius: 5px;
      cursor: pointer;
    }
    .active{
      background-color: #000000;
    }
  }
}



//fix
.dropdown-menu .disabled > a:hover {
  background-image: none;
  cursor: default !important;
}

.sortableArea{
  position: absolute;
  top: 40px;
  right: 0px;
  height: 670px;
  width: 100%;
  overflow: hidden;
}
#layerlist{
  .selectedItem{
    border: solid 2px #008000;
    margin-left: -2px;
  }
  width: 250px;
  height: 100px;
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 2500;
  .overlay{
    .layerListItem{
      width: 210px;
      margin-left: 30px;
      height: 16px;
      line-height: 16px;
      .list-title{
        width: 110px;
        line-height: 16px;
        font-size: 0.95em;
        overflow: hidden;
        white-space: nowrap;
      }
      .ui-slider-handle{
        height: 1em;
      }
    }
  }
  .layerListItem{
    width: 250px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
    @include panel;
    .list-title{
      white-space: nowrap;
      width: 115px;
      line-height: 20px;
    }
    .withoutSlider{
      width: 200px;
    }
    .placeholder{
      display: inline-block;
      width: 16px;
    }
  }
  .slider{
    width: 70px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    height: 2px;
    .ui-slider-handle{
      top: -.6em;
      width: 3px;
      margin-left: -.2em;
    }
    .ui-state-hover{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
    .ui-state-active{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
    .ui-state-focus{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
  }
}


#infobox{
  width: 250px;
  height: 370px;
  position: absolute;
  top: 210px;
  right: 20px;
  @include panel;
  .text{
    height: 295px;
    overflow: auto;
    width: 250px;
  }
  .lerntext{
    max-height: 90px;
    background-color: #5bb75b;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(91, 183, 91, 0.6)), to(rgba(59, 119, 59, 0.8)));
    font-weight: 700;
    line-height: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
  }
  .infotext{
    line-height: 17px;
    font-size: 1.1em;
  }
  .year{
    display: inline-block;
    font-weight: 700;
  }
  h3{
    display: inline-block;
    width: 170px;
    white-space: nowrap;
  }
  .bottomEnabled{
    height: 32px;
    &:hover{
      background-color: $green; // Old browsers
      @include filter-gradient($green, #3b773b, vertical); // IE6-9
      @include background-image(linear-gradient(top, $green 0%,#3b773b 100%));
    }
    cursor: pointer;
    .glyph-big-picture{
      margin-left: 113px;
      margin-top: 2px;
    }
  }
  .bottomDisabled{
    height: 32px;
    .glyph-big-picture{
      margin-left: 113px;
      margin-top: 2px;
      opacity: 0.3;
      cursor: default;
    }
  }
}


.fileUpload{

  margin-top: 0px;
  .modal{
    z-index: 3000;
    width: 800px;
    margin: -250px 0 0 -360px;
  }
}

.modal-backdrop{
  z-index: 2501;
}


#timeline{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 610px;
  z-index:2500;
  .timeline-event-tape{
    @include border-radius($borderRadius);
  }
  .timeline-band-1{
    .timeline-date-label{
      color: $black;
    }
  }
  .timeline-band-inner{
    .timeline-date-label{
      color: $black;
    }
  }
}

