@import "compass_twitter_bootstrap";
@import "compass/css3";

body{
  font-size: 11px;
  @include user-select(none);
  cursor: default;
}

form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img { max-width: none; }

ul{
  list-style-type: none;
  margin: 0px;
}

h3{
  font-size: 1.5em;
  margin-left: 10px;
  line-height: 20px;
}

textarea {
  font-size: 1em;
}

.disabled{
  opacity: 0.7;
  cursor: default !important;
  &:hover{
    background: none !important;
  }
  i:hover{
    background-image: url("images/glyphicons-halflings.png") !important;
  }
}

//Variables

$borderRadius: 2px;
$black : #373737;

@mixin panel{
  background-color: rgba(245,245,245,0.7);
  z-index: 2500;
  @include single-box-shadow;
  @include border-radius($borderRadius);
}

//Overall classes

.seperator-line{
  width: auto;
  border: solid 1.5px;
}

.infotext{
  padding: 10px;
  overflow: auto;
}

.list-title{
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
}


.button-icon{
  display: inline-block;
  cursor: pointer;
  @include border-radius($borderRadius);
  height: 20px;
  &:hover{
    background: $black;
  }
  i:hover{
      background-image: url("images/glyphicons-halflings-white.png");
      height: 20px;
  }
}

div.olControlZoom a {

  background: $black !important;
  opacity: 1;
  &:hover{
    background: $black !important;
    opacity: 0.8;
  }
}


#container{

}

.zminus{
  z-index: -1 !important;
}



#top-bar{
  height: 30px;
  background-color: greenyellow;
  font-size: 1.6em;
  line-height: 30px;
  padding-left: 10px;
  font-weight: 700;
}

#map {
  width: 100%;
  height: 700px;
}

#layerswitcher{
  position: absolute;
  top: 40px;
  left: 50px;
  z-index: 2400;
  a{
    display: inline-block;
    cursor: pointer;
    &:hover{
      background: $black;
    }
  }
}

#editNav{
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 2500;
}

#editInfoEinheit{
  @include panel;
  position: absolute;
  top: 80px;
  right: 20px;
  z-index: 2500;
  width: 283px;
  height: 600px;
  .back{
    margin-left: 10px;
    margin-top: 10px;
  }
  .infoEinheitTable{
    font-weight: 700;
    overflow: auto;
    input{
      margin-bottom: 0px;
      height: 16px;
    }
  }
  #editInfoEinheitForm{
    margin-left: 10px;
    margin-top: 10px;
    .label{
      margin-right: 10px;
      width: 40px;
      display: inline-block;
    }
    .featuresHeading{
      width: 250px;
      text-align: center;
      margin-top: 10px;
    }
    .title{
      width: 180px;
    }
    .start{
      width: 40px;
      margin-right: 20px;
    }
    .end{
      width: 40px;
    }
    .info{
      width: 180px;
      height: 150px;
    }
    .rank{
      width: 60px;
    }
    .featureTable{
      font-weight: 700;
      width: 272px;
      max-height: 180px;
      overflow: auto;
      table{
        width: 257px;
      }
      td{
        line-height: 16px;
        padding: 3px;
      }
      input{
       width:205px;
        margin-bottom: 0px;
      }
      .icon{
        margin-top: 7px;
        margin-left: 5px;
      }
      .new{
        margin-top: 5px;
      }
      .button-icon{
        margin-right: 5px;
      }
    }
  }
  .infotext{
    overflow: hidden;
    width: 150px;
    padding: 0px;
  }
  .date{
    display: inline-block;
  }
  .edit{
    margin-top: 10px;
  }
  #editInfoEinheitTop{
    height: 40px;
    border-bottom: solid;
  }
  .send{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
  }

}


#editLernEinheit{
  @include panel;
  position: absolute;
  top: 80px;
  right: 20px;
  z-index: 2500;
  width: 283px;
  height: 460px;
}

#georeference{
  width: 263px;
  height: 600px;
  position: absolute;
  top: 80px;
  right: 20px;
  padding: 10px;
  @include panel;
  #select2{
    width: 160px;
    display: none;
  }
  .resize{
    display: inline-block;
    margin-left: 5px;
  }
  ul{
    margin-left: 10px;
  }
  .label{
    width: 95px;
    display: inline-block;
    margin-right: 20px;
  }
  .cpTable{
    overflow: auto;
    width: 262px;
    max-height: 300px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  tr{
    background-color: #d3d3d3;
    @include border-radius($borderRadius);
    border-top: solid ;
    border-bottom: solid ;
  }
  .addGCP{
    margin-left: 5px;
  }
  .send{
    margin-left: 5px;
  }
  .deleteAll{
    margin-left: 172px;
  }
  .buttonFix{
    margin-left: 75px;
  }
  .heading2{
    display: inline-block;
  }
  .placeholder{
    display: inline-block;
    width: 16px;
  }
  .selected{
    background: $black;
    i{
      background-image: url("images/glyphicons-halflings-white.png");
    }
  }
  .infotext{
    font-weight: 700;
    font-size: 1.2em;
    width: 30px;
  }
  .coord{
    font-weight: 700;
  }
  .world{
    color: #00b000;
    width: 100px;
  }
  .image{
    color: #1267bb;
    width: 70px;
  }
  .delete{
    margin-right: 5px;
  }
  .slider{
    width: 110px;
    display: inline-block;
    margin-left: 5px;
    height: 2px;
    .ui-slider-handle{
      top: -.7em;
      width: 3px;
      margin-left: -.2em;
    }
    .ui-state-hover{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
    .ui-state-active{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
    .ui-state-focus{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
  }
}


#image-gallery{
  position: absolute;
  top:100px;
  left:100px;
  width: 800px;
  height: 400px;
  @include panel;
  img{
    height: 400px;
  }
  .close-btn{
    position: absolute;
    right: 3px;
    z-index: 2501;
  }
}


//fix
.dropdown-menu .disabled > a:hover {
  background-image: none;
  cursor: default !important;
}



#layerlist{
  width: 250px;
  height: 100px;
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 2500;
  li{
    width: 250px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
    @include panel;
    .list-title{
      width: 115px;
      line-height: 20px;
    }
  }
  .slider{
    width: 70px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    height: 2px;
    .ui-slider-handle{
      top: -.7em;
      width: 3px;
      margin-left: -.2em;
    }
    .ui-state-hover{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
    .ui-state-active{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
    .ui-state-focus{
      border: 1px solid #666666;
      background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    }
  }
}

#infobox{
  width: 250px;
  height: 410px;
  position: absolute;
  top: 140px;
  right: 20px;
  @include panel;
  .infotext{
      height: 320px;
  }
  .bottom{
      height: 30px;
      .deeplink-btn{
          margin-left: 10px;
      }
      .picture-btn{
          margin-right: 10px;
          float: right;
      }
      .learn-list-btn{
          margin-right: 10px;
          float: right;
      }
  }
}





.fileUpload{

  margin-top: 0px;
  .modal{
    z-index: 3000;
    width: 800px;
    margin: -250px 0 0 -360px;
  }
}


.modal-backdrop{
  z-index: 2501;
}





#timeline{
  width: 100%;
  height: 100px;
  .timeline-event-tape{
    @include border-radius($borderRadius);
  }
  .timeline-band-1{
    .timeline-date-label{
      color: $black;
    }
  }
}


//#edit-toolbar{
//  position: absolute;
//  top: 100px;
//  left: 500px;
//  z-index: 2500;
//}
//
//#edit-side-panel{
//  width: 250px;
//  height: 400px;
//  position: absolute;
//  top: 100px;
//  right: 50px;
//  background-color: #f5f5f5;
//  opacity: 0.7;
//  z-index: 2500;
//  @include single-box-shadow;
//  @include border-radius($borderRadius);
//}