@import "compass_twitter_bootstrap";
@import "variables";

// Basic elements ------------------------------------------------------------------------------------------------------

body{
  font-size: 11px;
  @include user-select(none);
  cursor: default;
}

form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img { max-width: none; }

ul{
  list-style-type: none;
  margin: 0px;
}

h3{
  font-size: 1.5em;
  margin-left: 10px;
  line-height: 20px;
}

textarea {
  font-size: 1em;
}

.noPadding{
  padding: 0px !important;
}

tr{
  background-color: white;
}

.selected{
  background: $black;
  i{
    background-image: url("images/glyphicons-halflings-white.png");
  }
}

.outOfView{
  left: -2000px !important;
}

.seperator-line{
  width: auto;
  border: solid 1.5px;
}

// Overall classes -----------------------------------------------------------------------------------------------------

[class^="glyph-big-"],
[class*=" glyph-big-"] {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  cursor: pointer;
}

.glyph-big-book{
  background-image: url("images/glyph-big/book.png");
}
.glyph-big-pencil{
  background-image: url("images/glyph-big/pencil.png");
}
.glyph-big-world{
  background-image: url("images/glyph-big/global.png");
}
.glyph-big-picture{
  background-image: url("images/glyph-big/picture.png");
}
.glyph-big-question{
  background-image: url("images/glyph-big/question_mark.png");
}

.button-icon{
  display: inline-block;
  cursor: pointer;
  @include border-radius($borderRadius);
  height: 20px;
  &:hover{
    background: $black;
  }
  i:hover{
    background-image: url("images/glyphicons-halflings-white.png");
    height: 20px;
  }
}

.disabled{
  opacity: 0.7;
  cursor: default !important;
  &:hover{
    background: none !important;
  }
  i:hover{
    background-image: url("images/glyphicons-halflings.png") !important;
  }
}

#powerTip{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-right: 7px !important;
  padding-left: 7px !important;
  border-radius: 2px !important;
}

.infotext{
  padding: 10px;
  overflow: auto;
}

.list-title{
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
}

.modal-backdrop{
  z-index: 2501;
}

// Main view elments ---------------------------------------------------------------------------------------------------

#top-bar{
  height: 40px;
  background-color: $green; // Old browsers
  @include filter-gradient($green, #3b773b, vertical); // IE6-9
  @include background-image(linear-gradient(top, $green 0%,#3b773b 100%));
  font-size: 1.6em;
  line-height: 30px;
  padding-left: 10px;
  font-weight: 700;
  h2{
    font-size: 1.5em;
    display: inline-block;
    //width: 500px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    color: #000000;
    margin-top: 0px;
    cursor: pointer;
    white-space: nowrap;
  }
  a{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
  }
  .lastIcon{
    margin-right: 21px;
  }
}

#info{
  z-index: 3000;
  width: 1000px;
  height: 630px;
  margin-left: -500px;
  margin-top: -320px;
  img{
    margin-top: 10px;
  }
  .close-btn{
    position: absolute;
    top: 5px;
    right: 8px;
  }
}

#startDialog{
  z-index: 3000;
  h3{
    width:100%;
    text-align: center;
  }
  .world{
    margin-left:90px;
    margin-right:80px;
  }
}

// Module Css ----------------------------------------------------------------------------------------------------------

@import "edit";
@import "fileUpload";
@import "lern";
@import "map";
@import "openWorld";
@import "util";