node_modules/*
!node_modules/jquery-file-upload-middleware
node_modules/jquery-file-upload-middleware/*
!node_modules/jquery-file-upload-middleware/lib
!node_modules/grunt-express
node_modules/grunt-express/*
!node_modules/grunt-express/lib
dist
.tmp
.sass-cache
app/components/*
!app/components/timeline_2.3.0
