<div id="infobox">
    <h3>{{info.title}}</h3><div class="year">{{info.start}}</div><span ng-show="info.end"> - </span><div class="year">{{info.end}}</div>
    <div class="seperator-line"></div>
    <div class="text">
        <div class="lerntext" ng-show="info.lernInfo">{{info.lernInfo}}</div>
        <div class="seperator-line" ng-show="info.lernInfo"></div>
        <div class="infotext">{{info.info}}</div>
    </div>
    <div class="seperator-line"></div>
    <div ng-class="{true:'bottomDisabled', false:'bottomEnabled'}[info.img.length == 0]" ng-click="showImgSlider()">
        <i class="glyph-big-picture"></i>
    </div>
</div>