<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/OpenLayers/style.css">
      <link rel="stylesheet" type="text/css" href="components/jquery-file-upload/css/jquery.fileupload-ui.css">
      <link rel="stylesheet" type="text/css" href="components/wmuSlider-master/demo/css/demo.css">
      <link rel="stylesheet" type="text/css" href="components/jquery-ui/themes/ui-darkness/jquery-ui.css">
      <link rel="stylesheet" type="text/css" href="components/select2/select2.css">
      <link rel="stylesheet" type="text/css" href="components/jquery-miniColors/jquery.minicolors.css">

      <link rel="stylesheet" type="text/css" href="http://localhost:9000/components/timeline_2.3.0/src/ajax/api/styles/graphics.css">
      <link rel="stylesheet" type="text/css" href="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/styles/timeline.css">
      <link rel="stylesheet" type="text/css" href="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/styles/ethers.css">
      <link rel="stylesheet" type="text/css" href="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/styles/events.css">

      <script type="text/javascript">
          window.SimileAjax = new Object();
          window.SimileAjax.Platform = new Object();
          window.Timeline = new Object();
          window.Timeline.DateTime = window.SimileAjax.DateTime; // for backward compatibility

          SimileAjax.urlPrefix = 'http://localhost:9000/components/timeline_2.3.0/src/ajax/api/';
          Timeline.urlPrefix='http://localhost:9000/components/timeline_2.3.0/src/webapp/api/';
      </script>
  </head>
  <body ng-app="udm">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->


    <!-- Add your site or application content here -->
    <div id="container">
        <div ng-controller="MainCtrl">
            <div id="top-bar">Discover Urban Design History
                <a class="button-icon lastIcon" ng-click="setRoute('/lern')"><i class="icon-th-list"></i></a>
                <a class="button-icon" ng-click="setRoute('/edit')"><i class="icon-pencil"></i></a>
                <a class="button-icon" ng-click="setRoute('/world')"><i class="icon-heart"></i></a>
            </div>
            <map></map>
            <div ng-view></div>
        </div>
    </div>

    <script src="components/jquery/jquery.js"></script>
    <script src="components/jquery-ui/ui/jquery-ui.custom.js"></script>
    <script src="components/select2/select2.js"></script>

    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/ajax/api/scripts/platform.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/ajax/api/scripts/dom.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/ajax/api/scripts/graphics.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/ajax/api/scripts/date-time.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/ajax/api/scripts/html.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/ajax/api/scripts/data-structure.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/ajax/api/scripts/units.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/ajax/api/scripts/window-manager.js"></script>

    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/timeline.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/band.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/themes.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/ethers.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/ether-painters.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/event-utils.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/labellers.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/sources.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/original-painter.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/overview-painter.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/units.js"></script>

    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/l10n/en/timeline.js"></script>
    <script type="text/javascript" src="http://localhost:9000/components/timeline_2.3.0/src/webapp/api/scripts/l10n/en/labellers.js"></script>

    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script src="components/OpenLayers-2.12/OpenLayers.debug.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-ui/build/angular-ui.js"></script>
    <script src="components/angular-ui-bootstrap/src/dropdownToggle/dropdownToggle.js"></script>
    <script src="components/angular-ui-bootstrap/src/dialog/dialog.js"></script>
    <script src="components/angular-ui-bootstrap/src/transition/transition.js"></script>
    <script src="components/bootstrap-js/bootstrap.js"></script>
    <script src="components/wmuSlider-master/jquery.wmuslider.js"></script>


    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="components/jquery-file-upload/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="components/jquery-file-upload/js/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="components/jquery-file-upload/js/canvas-to-blob.min.js"></script>

    <!--[if gte IE 8]><script src="components/jquery-file-upload/js/cors/jquery.xdr-transport.js"></script><![endif]-->

    <script src="components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="components/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="components/jquery-file-upload/js/jquery.fileupload-fp.js"></script>
    <script src="components/jquery-file-upload/js/jquery.fileupload-ui.js"></script>

    <script src="components/jquery-miniColors/jquery.minicolors.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/main/module.js"></script>
    <script src="scripts/main/controllers/main.js"></script>
    <script src="scripts/main/controllers/start.js"></script>

    <script src="scripts/util/module.js"></script>
    <script src="scripts/util/directives/slider.js"></script>
    <script src="scripts/util/directives/colorpicker.js"></script>
    <script src="scripts/util/directives/timeline.js"></script>
    <script src="scripts/util/directives/layerlist.js"></script>
    <script src="scripts/util/directives/infobox.js"></script>
    <script src="scripts/util/directives/imgslider.js"></script>
    <script src="scripts/util/services/util.js"></script>

    <script src="scripts/map/module.js"></script>
    <script src="scripts/map/controllers/map.js"></script>
    <script src="scripts/map/services/map.js"></script>
    <script src="scripts/map/directives/map.js"></script>
    <script src="scripts/map/directives/layerswitcher.js"></script>

    <script src="scripts/openWorld/module.js"></script>
    <script src="scripts/openWorld/controllers/openWorld.js"></script>
    <script src="scripts/openWorld/services/layers.js"></script>

    <script src="scripts/lern/module.js"></script>
    <script src="scripts/lern/controllers/lern.js"></script>

    <script src="scripts/fileUpload/module.js"></script>
    <script src="scripts/fileUpload/directives/fileUpload.js"></script>

    <script src="scripts/edit/module.js"></script>
    <script src="scripts/edit/controllers/edit.js"></script>
    <script src="scripts/edit/controllers/editInfoEinheit.js"></script>
    <script src="scripts/edit/TileStream.js"></script>
    <script src="scripts/edit/ExternalGraphicFix.js"></script>
    <script src="scripts/edit/zIndexFix.js"></script>
    <script src="scripts/edit/controllers/georeference.js"></script>
    <script src="scripts/edit/services/georeference.js"></script>
    <script src="scripts/edit/services/feature.js"></script>
    <script src="scripts/edit/controllers/editLernEinheit.js"></script>

    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--<script>-->
      <!--var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];-->
      <!--(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];-->
      <!--g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';-->
      <!--s.parentNode.insertBefore(g,s)}(document,'script'));-->
    <!--</script>-->
  </body>
</html>
