<div id="editInfoEinheit" ng-controller="EditInfoEinheitCtrl">

    <div id="editInfoEinheitTop">
        <div class="button-icon back" ng-click="back()"><i class="icon-arrow-left"></i></div>

    </div>

    <table class="table table-striped infoEinheitTable" ng-show="mode=='list'">
        <tr>
            <td><input type="text" name="input" placeholder="Neue Info-Einheit …" ng-model="editInfoEinheit.title" required></td><td><div class="button-icon" ng-click="newInfoEinheit()"><i class="icon-plus"></i></div></td>
        </tr>
        <tr ng-repeat="item in infoEinheiten">
            <td><div class="infotext">{{item.title}}</div><div class="date">{{item.start}}</div> - <div class="date">{{item.end}}</div></td>
            <td><div class="button-icon edit" ng-click="editInfoEinheit($index)"><i class="icon-pencil"></i></div></td>
        </tr>
    </table>


    <form name="editInfoEinheitForm" id="editInfoEinheitForm" ng-show="mode=='editInfoEinheit'">
        <span class="label" ng-class="{true:'label-important', false:'label-success'}[editInfoEinheitForm.title.$invalid]">Title:</span>
        <input type="text" class="title" name="title" ng-model="editInfoEinheit.title" required>

        <span class="label" ng-class="{true:'label-important', false:'label-success'}[editInfoEinheitForm.start.$invalid]">Von:</span>
        <input type="number" class="start" name="start" ng-model="editInfoEinheit.start" min="-9999" max="9999" required/>
        <span class="label label-success">Bis:</span>
        <input type="number" class="end" name="end" ng-model="editInfoEinheit.end" min="-9999" max="9999"/>

        <span class="label label-success">Info:</span>
        <textarea type="text" rows="8" cols="50" class="info" name="info" ng-model="editInfoEinheit.info"></textarea>

        <span class="label label-success">Rank:</span>
        <select class="rank" ng-model="editInfoEinheit.rank">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

        <span class="label label-inverse featuresHeading">Features</span>

        <div class="featureTable">
            <table class="table table-striped">
                <tr>
                    <td colspan="2"><input type="text" name="input" placeholder="Neues Feature …" ng-model="editInfoEinheit.newFeature"></td>
                    <td><div class="button-icon new" ng-click="newFeature()"><i class="icon-plus"></i></div></td>
                </tr>
                <tr ng-repeat="item in editInfoEinheit.features">
                    <td ng-switch="item.type">
                        <i ng-switch-when="base" class="icon-th-large icon"></i>
                        <i ng-switch-when="feature" class="icon-map-marker icon"></i>
                    </td>
                    <td><div class="infotext">{{item.title}}</div><div class="date">{{item.start}}</div> - <div class="date">{{item.end}}</div></td>
                    <td><div class="button-icon edit" ng-click="editFeature($index)"><i class="icon-pencil"></i></div></td>
                </tr>
            </table>
        </div>

        <button class="btn btn-small send" type="button" ng-click="save()" ng-disabled="editInfoEinheitForm.$invalid" ng-class="{true:'btn-danger', false:'btn-success'}[editInfoEinheitForm.$invalid]">Speichern</button>
    </form>


</div>
